html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;;
  flex-direction: column;
  margin: 100px 20px 0px;
  display:flex;
}
.d-flex{
  display: flex;
}
.d-i-block{
  display: inline-block;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-s-a{
  justify-content: space-around;
}
.justify-content-s-b{
  justify-content: space-between;
}

.align-items-center{
  align-items: center;
}
.w-100{
  width:100%
}
.w-80p{
  width:80px;
}
.wrap-flex{
  flex-wrap: wrap;
}
.mx-20{
  margin: 20px 0;
}
.mw-300{
  max-width:300px
}

